/*
COLOURS
light: #d8bfab
darker: #696157
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/
html {
    /*font-size: 62.5px;*/
}


body {
  font-family: 'Libre Baskerville', sans-serif;
  /*font-size: 62.5px;*/
}


/******************************************
/* LAYOUT
/*******************************************/
.promo {
  display: flex;
  justify-content: center;
  background-color: #d8bfab;
  padding: 10px 0;
}

.whiteBtn {
  background-color: white;
  color:#696157;
  width: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 10px 40px;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h3, #download {
  
}

h3 {
  color: #696157; 
  font-style: italic;
  letter-spacing: 0.15em;
  font-size: 1rem;
}

#download {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.2em;
  color:#696157;
  font-size: 14px;
}